extends template
block content
    div(style="width: 100%; height: 70vh; display: flex; flex-direction: column; justify-content: center; align-items: center;")
        h1 Hola querido usuario
        h2 Bienvenido a una ruta protegida
        button(style="border: 1px daseh black; border-radius: 20px; width: 20%; height: 45px; font-size: 1.2rem; outline: none;")
            a(style="text-decoration: none; font-size: 1.2rem" href="/logout") Logout